* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

:root {
    --c1: rgb(255, 99, 71);
    --c2: rgb(135, 206, 235);
    --c3: rgb(50, 205, 50);
    --c4: rgb(255, 165, 0);
    --c5: rgb(147, 112, 219);
 
    --c6: rgb(255, 192, 203);
   
    --c7: rgb(255, 215, 0);
    
    --c8: rgb(0, 191, 255);
    
    --c9: rgb(255, 69, 0);
    
    --c10: rgb(34, 139, 34);
    
}